## Lightness ##

In [1]:
!gdown 1i9dqan21DjQoG5Q_VEvm0LrVwAlXD0vB

Downloading...
From: https://drive.google.com/uc?id=1i9dqan21DjQoG5Q_VEvm0LrVwAlXD0vB
To: /content/dog.jpeg
100% 33.7k/33.7k [00:00<00:00, 49.4MB/s]

In [6]:
import matplotlib.image as mpimg
import numpy as np
img = mpimg.imread('/content/dog.jpeg')

gray_img_01 = (np.max(img, axis = 2 ) + np.min(img, axis = 2) ) / 2
gray_img_01[0, 0]

102.5

## Average ##

In [7]:
gray_img_02 = np.mean(img, axis = 2)
gray_img_02[0, 0]

107.66666666666667

## Luminosity ##

In [8]:
gray_img_03 = 0.21 * img[:,:,0] + 0.72 * img[0:,:,1] + 0.07 * img[:,:,2]
gray_img_03[0,0]

126.22999999999999

**Data Tabular**

In [12]:
!gdown 1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq

Downloading...
From: https://drive.google.com/uc?id=1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq
To: /content/advertising.csv
100% 4.06k/4.06k [00:00<00:00, 16.3MB/s]

**Câu 15**

In [24]:
import pandas as pd
df = pd.read_csv('/content/advertising.csv')
data = df.to_numpy()
print(len(df))

200

In [16]:
print(df[:5])

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [32]:
max_value = df['Sales'].max()
max_idx = df['Sales'].idxmax()
print(max_value)
print(max_idx)

27.0
175

**Câu 16**

In [34]:
mean_value = df['TV '].mean()
print(f'mean value TV is {mean_value}')

mean value TV is 147.0425

**Câu 17**

In [36]:
filtered_df = df[df['Sales'] >= 20]
count = filtered_df.shape[0]
print(f'count of TV >= 20 is {count}')

count of TV >= 20 is 40

**Câu 18**

In [39]:
filtered_df_1 = df[df['Sales'] >= 15]
print(filtered_df_1['Radio'].mean())

26.22293577981651

**Câu 19**

In [45]:
# mean_paper = df['Newspaper'].mean()
filtered_df_2 = df[df['Newspaper'] > df['Newspaper'].mean()]
print(filtered_df_2['Sales'].sum())

1405.1

**Câu 20**

In [48]:
A = df['Sales'].mean()
scores = df['Sales'].apply(lambda x: 'Good' if x > A else 'Bad' if x < A else 'Average')

print(scores[7:10].values)

['Bad' 'Bad' 'Good']